---
---

<div class="title">{{entry.title}}</div>
    {% if entry.type == "misc" %}
    {% else %}
      <div class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em>{{author.first}} {{author.last}}</em>
            {% else %}
              {{author.first}} {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <em>{{author.first}} {{author.last}}</em>,
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <em>{{author.first}} {{author.last}}</em>
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>,
			{% if entry.volume %} vol. {{entry.volume}}, {% endif %}
			{% if entry.number %} no. {{entry.number}}, {% endif %}
			{% if entry.pages %} pp. {{entry.pages}}, {% endif %}
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>,
			{% if entry.address %}
			  {{entry.address}},
			{% endif %}
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      </div>
    {% endif %}

<div class="title">
{% if entry.issn %}
[<a href="https://research.chalmers.se/publication/{{ entry.issn }}" target="_blank">PDF</a>]
{% endif %}
{% if entry.arxiv %}
[<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
{% endif %}
{% if entry.keywords %}
	{% if entry.keywords contains 'slides' %}
	[<a href="{{ entry.key | prepend: '/assets/pdf/slides_' | append: '.pdf' | relative_url }}" target="_blank">Slides</a>]
	{% endif %}
	{% if entry.keywords contains 'poster' %}
	[<a href="{{ entry.key | prepend: '/assets/pdf/poster_' | append: '.pdf' | relative_url }}" target="_blank">Poster</a>]
	{% endif %}
	{% assign keywords_list = entry.keywords | split: "," %}
	{% for item in keywords_list %}
		{% if item contains 'github' %}
		[<a href="{{ item }}" target="_blank">Code</a>]
		{% endif %}
		{% if item contains 'youtube' %}
		[<a href="{{ item }}" target="_blank">Video</a>]
		{% endif %}
	{% endfor %}
{% endif %}
{% if entry.abstract %}
[<a href="{{ entry.abstract }}" target="_blank">Code</a>]
{% endif %}
{% if entry.doi %}
[<a href="http://dx.doi.org/{{ entry.doi }}" target="_blank">DOI</a>]
{% endif %}
</div>

    <div class="links">
    {% if entry.html %}
      <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button" target="_blank">HTML</a>
    {% endif %}
    {% if entry.pdf %}
      {% if entry.pdf contains '://' %}
      <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      {% else %}
      <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      {% endif %}
    {% endif %}
    {% if entry.supp %}
      {% if entry.supp contains '://' %}
      <a href="{{ entry.supp }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Supp</a>
      {% else %}
      <a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Supp</a>
      {% endif %}
    {% endif %}
    {% if entry.poster %}
      {% if entry.poster contains '://' %}
      <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Poster</a>
      {% else %}
      <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Poster</a>
      {% endif %}
    {% endif %}
    {% if entry.iisbn %}
      <a href="https://ieeexplore.ieee.org/document/{{ entry.isbn }}" class="btn btn-sm z-depth-0" role="button" target="_blank">IEEE</a>
    {% endif %}
    </div>
